@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Unbounded";
  src: url("/unb.woff2");
}
@font-face {
  font-family: "Poppins";
  src: url("/pop.woff2");
}
html{
  scroll-behavior: smooth ;  /* make sure the scroll is always in sync with the user's position */
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0px;
  background-color: rgb(29, 29, 29);
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(150, 150, 170);
}

* {
  font-family: "Poppins", sans-serif;
  @apply active:border-transparent focus:outline-none text-xl
}
h2 {
  font-family: "Unbounded", sans-serif;
  @apply text-2xl m-5 uppercase;
}
::selection {
  background: #ac3877;
  color: rgb(0, 255, 98);
}
.moving {
  background-image: url("/bg.svg");
  background-repeat: repeat;
  animation: moveBackground 60s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

h1 {
  
 -webkit-text-stroke: 2px wheat;
    
}
.hero-type{
    background: -webkit-linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section{
    @apply border border-[#3a3a3a] rounded mb-4 p-2 bg-[#222222]
}

