@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Mitr-medium";
  src: url("/Mitr-Medium.woff2");
}
@font-face {
  font-family: "Mitr-regular";
  src: url("/Mitr-Regular.woff2");
}
@font-face {
  font-family: "Mitr-semi";
  src: url("/Mitr-SemiBold.woff2");
}
@font-face {
  font-family: "Poppins";
  src: url("/pop.woff2");
}
@font-face {
  font-family: "Plaster";
  src: url("/plaster.woff2");
}
html {
  scroll-behavior: smooth; /* make sure the scroll is always in sync with the user's position */
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0px;
  background-color: rgb(29, 29, 29);
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(150, 150, 170);
}

* {
  font-family: "Poppins", sans-serif;
}
h2 {
  @apply font-mitrsSemi text-2xl m-5;
}

.moving {
  /* background-image: url("/bg.svg"); */
  
  background-repeat: repeat;
  animation: moveBackground 100s linear infinite;
}
.bg-main{
  background-image: url("/Group 50.svg");
}
.bg-about{
  background-image:url('/aboutbg.svg');
}
.bg-prices{
  background-image:url('/bg-prices.svg');
}
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

h1 {
  -webkit-text-stroke: 4px black;
}
.hero-type {
  background: -webkit-radial-gradient(
    circle,
    rgba(70, 147, 212, 1) 0%,
    rgba(209, 142, 237, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  @apply border border-[#3a3a3a] rounded mb-4 p-2 bg-[#222222] px-3;
}
p,
div {
  @apply text-xl font-mitrReg tracking-widest;
}
p > a {
  @apply text-blue-800 ;
}
.shadow{
  box-shadow: 1px 0px 100px -11px rgba(71, 255, 0, 0.17);
}
.levitating{
  animation: 3s ease-in-out 1s infinite alternate levitatin;
  
}
@keyframes levitatin {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(-5px);
  }
}